* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('wave.jpg');
    background-size: cover;
    /* padding: 1rem; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.main-head {
    grid-area: header;
    height: 80px;
    background-color: white;
}

.main-footer {
    grid-area: footer;
}

/* .overlay { 
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    transition: opacity 200ms;
    opacity: 0;
} */

div.close {
    cursor: pointer;
    right: 5px;
    top: 5px;
    position: fixed;
}
.wrapper {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
}

.image-grid {
    display: grid;
    grid-area: content;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 1rem;
    text-align: justify;
    overflow: hidden;
}

.image-frame {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #f5cda7;
    transition: 0.3s;
}
img.gallery {
    max-width: 100%;
    width: 600px;
    height: 400px;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
}

.gallery:hover {
    /* opacity: 0.8; */
    transform: scale(1.1);
}

.modal-container {
    width: 70vw;
    height: 90vh;
    position: absolute;
    z-index: 3;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);

    /* vertical-align: middle; */
}

input {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

input:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

button {
    padding: 7px;
    border-radius: 5px;
    width: 90px;
    font-family: 'Lato', sans-serif;
}
button:hover {
    cursor: pointer;
}

/* .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #c9dbba;
    display: inline-block;
    font-family: 'Lato', sans-serif;
} */
/* 
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #75dbcd;
}

.inputfile + label {
    cursor: pointer; 
} 
 
@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            'header  header'
            'content content'
            'footer     footer';
    }
} */
