* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('https://i.pinimg.com/564x/39/a2/2f/39a22f36d036d40c0934751dbae67108.jpg'); */
    /* background: url(Moomin_family1.jpeg); */
    background-color: #cbbfbb;
    /* padding: 1rem; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.main-head {
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100px;
    background-color: white;
}

.main-head img {
    height: 100px;
}

.main-footer {
    grid-area: footer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    transition: opacity 200ms;
}

span.close {
    cursor: pointer;
    font-weight: bold;
    width: 25px;
    height: 20px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

span.close:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
}
.wrapper {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
}

.image-grid {
    display: grid;
    grid-area: content;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    margin: 0;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
}

.image-grid a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.image-frame {
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: #eabda8;
    transition: 0.3s;
}
img.gallery {
    max-width: 100%;
    width: 500px;
    height: 400px;
    object-fit: cover;
    position: relative;
    transition: opacity 0.25s ease-in-out;
}

.image-grid.title {
    /* visibility: hidden; */
    position: absolute;
    bottom: 0;
    right: 0;
}

img.gallery:hover {
    opacity: 0.4;
}

.modal-container {
    display: flex;
    /* justify-content: center; */
    height: 100vh;
    width: 75vw;
    position: fixed;
    z-index: 3;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    transition: all ease 2s;
    flex: 1;
}

.image-modal-container img {
    width: 500px;
    height: 500px;
}

.modal-text-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.modal-text-container p {
    margin: 5px;
}

input {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

input:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

button {
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    font-family: 'Lato', sans-serif;
}
button:hover {
    cursor: pointer;
}

.inputfile {
    color: transparent;
    width: 120px;
}
.inputfile::-webkit-file-upload-button {
    visibility: hidden;
}
.inputfile::before {
    content: 'Select a file';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.inputfile:hover::before {
    border-color: black;
}
.inputfile:active {
    outline: 0;
}
.inputfile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

button.showMore {
    margin: auto;
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button.showMore:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
}

button.submitComment {
    margin-left: 10px;
}
div.comments-text {
    padding-left: 20px;
}
div.comments-text > p {
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
}
div.comments-text > span {
    font-size: 12px;
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'header  header'
            'content content'
            'footer     footer';
    }
    .modal-container {
        flex-wrap: wrap;
        height: 300px;
    }
} ;
